<div class="card shadow-effect">
    <img src="https://res.cloudinary.com/koyo-nation/image/upload/v1697603457/blog4_kjdgp9.webp" alt="post-image" class="card-img-top">
  
    <div class="card-body">
    <small class="bg-light text-danger text-center"> Design</small>
    <small class="bg-light text-success text-center ml-3"> Featured</small>
    <small class="bg-light text-info text-center ml-3"> Views - 100,256</small>
    </div>

    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde obcaecati maiores nihil enim alias aspernatur officia ipsum modi expedita! Eius, quae unde repudiandae natus doloribus temporibus nemo quisquam reiciendis asperiores.</p>

<small class="bg-light text-warning text-center ml-3"> LAST UPDATED - SEP 20, 2021</small>
</div>