<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim quis quae, omnis ad quos officiis iusto iste at rerum saepe quidem tempora illo dolorum provident veritatis nihil? Nisi, mollitia!</p>
            <form action="" class="row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="email" class="form-control" placeholder="Email Address">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>
